<div class="column">
    <div class="cell" data-column="1">
        <div class="token"></div>
    </div>
    <div class="cell" data-column="2">
        <div class="token"></div>
    </div>
    <div class="cell" data-column="3">
        <div class="token"></div>
    </div>
    <div class="cell" data-column="4">
        <div class="token"></div>
    </div>
    <div class="cell" data-column="5">
        <div class="token"></div>
    </div>
</div>