<script src="/game.js"></script>

<div class="board" data-player-id="{{pid}}">
    {{{board}}}
</div>
<div class="drop-buttons">
    {{{buttons}}}
</div>
<div class="game-text-field" id="game-status-field"></div>
<div class="game-text-field" id="join-code-field"></div>

    