html{
  font-family: 'Segoe UI', "Roboto", sans-serif;
}
body{
  
  margin: 0;
}
header{
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  margin: 0px;
  border: 1px solid black;
  border-color:#000;
  background-color: #000000;
}
header h1{
  text-decoration: none;
  font-size: 48pt;
  color: rgb(235, 235, 235);
  position: relative;
  margin: 8px;
}
header h1.player1 a{
  color: #df0000;
}
header h1.player2 a{
  color: #dfcf00;
}
header h1 a{
  color: inherit;
  text-decoration: none;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 28px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: repeat(6, 60px); /* Ensure the grid has 7 rows */
  grid-gap: 5px;
  border: 2px solid #000;
  background-color: #6495ed;
  padding: 5px;
  position: relative;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}


.token {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.token.player1 {
  background-color: #df0000;
}

.token.player2 {
  background-color: #dfcf00;
}

.menu-buttons {
/* width: 600px; */
display: flex;
justify-content: space-around;

}
.menu-buttons > button{
  margin: 25px;
  width: 250px;
  height: 100px;
  font-size: 24pt;
  border-radius: 10px;
  color: white;
}

.menu-buttons > button:hover,
.menu-buttons > button:focus{
  scale: 110%;
}

#new-game-button {
  background-color: #df0000;
}
#new-game-button:hover {
  background-color: #ff4f4f;
}

#join-room-button {
  background-color: #dfcf00;
}
#join-room-button:hover {
  background-color: #ffe74f;
}

button{
  font-family: "Segoe UI", "Roboto", sans-serif;
  margin: 5px;
  color: white;
  background-color: #000000;
  border: 1px solid #7f7f7f;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 300;
  cursor: pointer;
}
button:hover{
  background-color: #9f9f9f;
  color: #000000;

}
.drop-button{
  margin-left: 10px;
  width: 50px;
  height: 50px;
  font-size: 24pt;
  border-radius: 25%;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#join-game-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}
.join-game-field{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}
.join-game-field label{
  font-weight: 500;
  flex: 1 100px;
  margin-right: 15px;
}
.join-game-field input{
  flex: 5 160px;
  padding: 10px;
  border: 1px solid #7f7f7f;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 200px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
position: relative;
padding: 10px 20px;
}

.modal-header h3 {
margin: 0;
}

#modal-close {
position: absolute;
right: 10px;
top: 5px;
font-size: 24px;
border: none;
background: none;
padding: 0;
cursor: pointer;
}

.modal-body {
padding: 20px;
}


.game-text-field{
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.modal-footer {
display: flex;
justify-content: flex-end;
padding: 10px 10px 20px 10px;
}

.hidden {
display: none;
}

.action-button {
  margin-left: 16px;
  font-size: 20px;
  color: white;
  padding: 10px;  
}
